<div class='container'>
  <div class='jumbotron'>
    <h1>Customer Show</h1>
  </div>
  <table class='table table-striped'>
    <tr>
      <th>Name</th>
      <th>CPF</th>
      <th>Phone</th>
      <th>Address</th>
    </tr>
    <tr>
      <td>A</td>
      <td>B</td>
      <td>C</td>
      <td>D</td>
    </tr>
  </table>
</div>